.Header {
    background-color: #3E3E44;
    display: flex;
    justify-content: space-between;
}
.Header a{
    text-decoration: none;
}
.Header h1 {
    color: floralwhite;
    margin: 0;
    margin-left: 65px;
    font-family: cursive;
}
.Header input{
    position: absolute;
    left: 200px;
    top: 15px;
    border-radius: 10px;
    border: none;
    height: 20px;
    text-indent: 10px;
    outline: none;
}
.submitBtn{
    position: absolute;
    left: 298px;
    top: 15px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #FBCF62;
    height: 22px;
    outline: none;
}